.card{
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transition: box-shadow 0.3s ease;
    min-height: 150px;
}

.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image{
    border-radius: 50%;
    top: -20%;
    left: 45%;
    position: absolute;
}

.card-description{
    margin-top: 20px;
    max-height: 120px;
    overflow: scroll;
}
